body {
	background-color: #E8E8E8;
	font-size: 12px;
	font-family: 'Verdana,sans-serif';
}

.addobj {
	margin-bottom: 5px;
	color: #1A0AC7;
	font-weight: bold;
	margin-left: 20px;
}

.build_obj {
	color: #0A5CC7;
	margin-left: 35px;
	margin-bottom: 10px;
}

.linking {
	margin-left: 35px;
	color : #398C08;
}

.project_end {
	font-size: 14px;
	font-weight: bold;
	color: #EBBF10;
}

.std_err{
	font-size: 15px;
	font-weight: bold;
	color: #DE6209;
}